<div class="container-cadastro">
    <div class="inner-container">
        <div class="text-center">
            <h2>Editar jogador</h2>
            <form [formGroup]="formEdit">
                <mat-form-field>
                    <input matInput placeholder="Nome do jogador" formControlName="nome">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Telefone" formControlName="telefone">
                </mat-form-field>
                <br>
            </form>
            <app-button><a (click)="onEdit()">Confirmar</a></app-button><app-button><a [routerLink]=" ['/']">Listar
                    jogadores</a></app-button>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>